<header>
  <h1>
    YEAAAAAAAAAAAAAAAAAAA
  </h1>
  <%if (!user){%>
    <a href="http://localhost:8080/register">Register</a>
    <a href="http://localhost:8080/login">Login</a>
  <%} else if (user) {%>
    <form method="POST" action="/logout">
    <input type="submit" value="logout">
    </form>
  <%}%>
  
</header>

