<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  
</head>
<body>
  <% include ./partials/_headers.ejs %>

  <form action='/login' method="POST" style="margin:20px;">
    <label for="user.id">Enter your e-mail</label>
    <input id="user.id" type="email" name="user.id" placeholder="user.id" style="width: 300px">
    <input type="submit" value="Submit">
  
  
    <label for="password">Enter a password for your account</label>
    <input id="password" type="password" name="password" placeholder="password" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
