<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include ./partials/_headers.ejs %>
    <h2>Registration</h2>
    <!-- Add your EJS code here -->
    <form action=<%='/register'%> method="POST" style="margin:20px;">
      <label for="email">Enter your e-mail</label>
      <input id="email" type="email" name="email" placeholder="email" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
    <form action=<%='/register'%> method="POST" style="margin:20px;">
      <label for="password">Enter a password for your account</label>
      <input id="password" type="password" name="password" placeholder="password" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
</body>
</html>